.game-title{
    margin-top: 15%;
    color: rgba(6, 231, 220, 0.911);
}
#message{
    padding-top: 20px;
    color:  rgba(6, 231, 220, 0.911);
    padding-bottom: 10px;
    font-size: 20px;

}
#gameInput input{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 5px 8px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    width: 80%;
}

#gameInput button{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid  rgba(6, 231, 220, 0.911);
    padding: 8px 50px;
    outline: none;
    color: rgba(6, 231, 220, 0.911);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
#display p {
    font-size: 100px;
    border: solid 2px white;
    border-radius: 20%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    text-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}
.result-won{
    background-color: rgb(253,193,0);
    min-height: 100vh;
    border:solid 5px white;
}
.result-lost{
    background-color: #F05F24;
    min-height: 100vh;
    border:solid 5px white;  
}
.result-lost p{
    padding-top: 50px;
    font-size: 35px;
}
.result-won p{
    padding-top: 50px;
    font-size: 32px;
}
.result-won div button{
    margin-top: 20px;
}
.result-lost div button{
    margin-top: 20px;
}
#chances{
    padding-top: 20px;
    font-size: 20px;
}
.pic img{
    width: 60%;
    height:60%;
    align-items: center;
}